*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins' , sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}

main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left{
    font-size: 1.5rem;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.firstsection div{
    width: 30%;
}

.leftsection{
font-size: 3rem;
margin: 30px 0;
}

.leftsection .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;

}

.rightsection img{
    width: 80%;
}

.purple{
    color: rgb(170, 107, 228);

}

.textgray{
    color: gray;
}

#element{
    color: rgb(170, 107, 228);
}

.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1{
    font-size: 1.9rem;
}

.secondsection .box{
    background: white;
    width: 82vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 150px;
}

.image-top{
    width: 30px;
    position: relative;
    top: -32px;
    left: -15px;
}

.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;


}

.vertical-disc{
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;

}

.image-bottom{
    width: 36px;
    position: relative;
    top: -38px;
    left: -17px;
}

.vertical-title1{
    position: relative;
    top: 69px;
    width: 150px;

}

footer{
    position: relative;
    bottom: 0;
}
@media (max-height:800px)
 {
    footer{
        position: static;
    }
    
}
.footer-distributed{
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;

}

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed h3{
    color: #ffff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}
.footer-distributed h3 span{
    color: #e0ac1c;
}
.footer-distributed .footer-links{
    color: #fff;
    margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color: #33383b;
    color: #ffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a{
    color: #e0ac1a;
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 30%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
    background-color: #3f71ea;
}

.footer-links a:hover{
    color: #3f71ea;
}

@media(max-width:880px) {
    .footer-distributed .footer-links, .footer-distributed .footer-center, .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}




